<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cls-ht">సంప్రదించండి</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page bg-color">

  
  <ion-grid *ngIf="users">
    <ion-row>
      <ion-col col-6 text-right>
          <strong> Phone Number :</strong>
      </ion-col>
      <ion-col col-6>
        {{users.mcall}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-right>
          <strong> Website :</strong>
      </ion-col>
      <ion-col col-6>
          {{users.www}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-right>
          <strong> Constituency :</strong>
      </ion-col>
      <ion-col col-6>
          {{users.constituency}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6 text-right>
         <strong>Email :</strong> 
      </ion-col>
      <ion-col col-6>
          {{users.email}}
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-6 text-right>
            <strong> Address :</strong>
        </ion-col>
        <ion-col col-6>
            {{users.address}}
        </ion-col>
      </ion-row>
  </ion-grid>

  <!-- <span class="pad">Phone Number: {{users.mcall}}</span>
  <span class="pad">Website: {{users.www}}</span>
  <span class="pad">Constituency: {{users.constituency}}</span>
  <span class="pad">Email: {{users.email}}</span>
  <span class="pad">Address: {{users.address}}</span> -->

  
</ion-content>