<!--
  Generated template for the GalleryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="cls-ht">గ్యాలరీ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card class="shadow-n" *ngFor="let user of images" col-5 style="float: left; margin-top: 12px;">
    <!-- <span class="title-head">{{user.n}}</span> -->
    <ion-grid>
      <ion-row>
       <ion-col col-12 > 
          <div class="img_over">
            <img class="img pad" src={{link}}{{user.surl}} (click)="selectedImage(user)">
          </div>
          <ion-icon class="download" name="download" (click)="download(user)"></ion-icon>
          <ion-icon class="gallery-share" md="md-share" (click)="share(user)"></ion-icon>

          <!--   <ion-icon class="download" name="download" (click)="download(i)"></ion-icon>
          <ion-icon class="gallery-share" ios="ios-share" md="md-share" (click)="share(i)">
         <a href="{{link}}" download="{{i.surl}}">...</a> 
          </ion-icon>-->

         </ion-col> 

      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>