<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title class="cls-ht">గ్యాలరీ</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">


  <ion-slides *ngIf="users && users.length" loop="true" autoplay="3000" class="image-slider" pager>

    <ion-slide *ngFor="let item of users" (click)="openphotos(item.imgs)">
      <div style="position: relative">
        <img src={{link}}{{item.imgs[0].surl}}/>
        <h1 class="hdr-strip">{{item.n}}</h1>
      </div>
    </ion-slide>


  </ion-slides>

</ion-content>