page-gallery-slider {
 .swiper-pagination-bullets{bottom: 35px!important;}
 .hdr-strip{color: #fff;
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: 8px;
    width: 100%;
    font-size: 22px;
    padding: 5px;}
}
