<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cls-ht" >స్థానిక నాయకులు</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page">

  <ion-content>
    <ion-label class="yourleader"><b>మీ స్థానిక నాయకులు</b></ion-label>
    <ion-item>
      <ion-label>Town/Mondal</ion-label>
      <ion-select interface="popover" (ionChange)="selectTown()" [(ngModel)]="ward">
        <ion-option value="mahabubnagar">Mahabubnagar</ion-option>
        <ion-option value="hanwada">Hanwada</ion-option>
        <ion-option value="mahabubnagar town">Mahabubnagar Town</ion-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label>Ward/Village</ion-label>
      <ion-select interface="popover" [(ngModel)]="village" (ionChange)="selectWard()">
        <ion-option *ngFor="let w of villages">{{w.v}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngFor="let user of repos">
      <span class="data1"><b>{{user.n}}</b></span>
      <span class="data">{{user.d}}</span>
      <br>
      <span class="data">{{user.v}}</span>
      <span class="data">{{user.m}}</span>
      <br>
      <span>{{user.ph}}</span>

    </ion-item>

  </ion-content>