<ion-tabs>
    <ion-tab [root]="aboutUsRoot" tabTitle="About us" tabIcon="contact"></ion-tab>
    <ion-tab [root]="visionRoot" tabTitle="Vision" tabIcon="eye"></ion-tab>
    <ion-tab [root]="manifestRoot" tabTitle="Manifest" tabIcon="nuclear"></ion-tab>
</ion-tabs>
