
<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cls-ht">మా గురించి</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card class="shadow-n" *ngIf="users">
     <div class="content">{{users.aus}}</div>
    <!-- <img src= {{link}}{{users.img}}> -->


    <!-- <div class="content">{{user.aus}}</div> --> 


  </ion-card>
</ion-content>
