page-news {
.bg-color{background:#eee;}    
.title-head{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    color: #FE0175;
    
    padding: 10px;
}
.head-bg{background-color: #FE0175;}

.description{
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    
    padding: 10px 15px;
}
.content-data{
    padding: 10px;
    line-height: 20px;
    font-size: 16px;
}
.pad{padding:10px; display: block;}
.shadow-n{ box-shadow: none;}
.card-background-page{background-color: #feb2d5;
}
.gallery-share {
    float:right;
    right:0px !important;
    position: inherit;
    display: block;
    clear:both;
    color: #FE0175;
    border-radius:50px;
    font-size: 20px;
    margin: 12px;
    }
}


.cls-ht{
    line-height: 36px;
}
.date{
    padding: 0px 15px 20px;
    font-size: 12px;
    color: cadetblue;
}