<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cls-ht">న్యూస్</ion-title>
  </ion-navbar>
</ion-header>
<!-- <ion-card>
  <ion-item  *ngFor="let user of users">
    {{ user  | json }}
  </ion-item>
</ion-card> -->

<ion-content class="card-background-page">

  <ion-card class="shadow-n" *ngFor="let user of users" >
    <div class="card-title title-head" (click)="news(user)">{{user.t}}</div>
    <img src={{link}}{{user.img}} (click)="news(user)">

    <div class="description" (click)="news(user)">{{user.d}}...</div>
    <span class="date">{{user.dt}}</span>
    
    <ion-icon class="gallery-share" md="md-share" (click)="share(user)"></ion-icon>
    
  </ion-card>
 
  </ion-content>