<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cls-ht">మానిఫెస్ట్</ion-title>
  </ion-navbar>
</ion-header><ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cls-ht">మానిఫెస్ట్</ion-title>
  </ion-navbar>


<ion-content>

  <ion-card class="shadow-n" *ngIf="users">
    <div class="content">{{users.m}}</div>


    <!-- <img src= {{link}}{{users.img}}> -->


    <!-- <div class="content">{{user.aus}}</div> -->


  </ion-card>
</ion-content>