page-eventdetails {
    .gallery-share {
        float:right;
        right:0px !important;
        position: inherit;
        display: block;
        clear:both;
        color: crimson;
        border-radius:50px;
        font-size: 20px;
        margin: 0px 10px;
        }
        
        .head{
            font-size: 18px;
            font-weight: bold;
            line-height: 24px;
            margin: 0;
            color: #FE0175;
            padding: 10px;
        }
        
        .description{
            padding: 10px 15px 10px;
            font-size: 15px;
        }
        .date{
            padding: 0px 15px 20px;
            font-size: 12px;
            color: cadetblue;
        }
        
        }
    

