<ion-header>
    <ion-navbar color="primary">
      <button ion-button menuToggle end>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>ఈవెంట్స్ డిటైల్స్</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    
    <ion-card class="shadow-n" >
        <div *ngFor= "let x of eventdetails" >
        <div class="head">{{x.t}}</div>
      
      <img src= {{link}}{{x.img}}>
      <div class="description">{{x.d}}</div>
      <div class="date">{{x.dt}}
        <ion-icon class="gallery-share"  md="md-share" (click)="share(item)"></ion-icon>
      </div>
      
      <!-- <button ion-button round (click)="share(item)">
        <ion-icon ios="ios-share" md="md-share"></ion-icon>
      </button> -->
      </div>
   </ion-card>

  </ion-content>