<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cls-ht">ఈవెంట్స్</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="card-background-page">
  <ion-card class="shadow-n" *ngFor="let user of users" >
    <div class="card-title title-head" (click)="Events(user)">{{user.t}}</div>
    <img src=  {{link}}{{user.img}} (click)="Events(user)">
    <div class="card-subtitle content-data" (click)="Events(user)">{{user.d}}</div>
    <div class="date" (click)="Events(user)">{{user.dt}}</div>
    <ion-icon class="gallery-share" md="md-share" (click)="share(user)">
                  
      </ion-icon>
  </ion-card>
</ion-content>