<ion-header>
  <ion-navbar color="primary" >
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="cls-ht">క్యాలెండరు</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
<!-- <br>
<br>
<br> -->

<!-- <ion-calendar 
[(ngModel)]="date" 
(onSelect)="onChangeDate($event)" 
[type]="type" 
[options]="optionsRange" 
[format]="'YYYY-MM-DD'" >{{getday}}</ion-calendar> -->

<ion-calendar #calendar [events]="currentEvents"  (onDaySelect)="onChangeDate($event)"></ion-calendar>
</ion-content>